 <!-- Contact Section -->
        <div class="contact-section">
          <div class="contact-container">
            <h1 class="mission-heading">
              <span>Get In </span>
              <span class="text-primary">Touch</span>
            </h1>
            <mat-card class="contact-card">
              <mat-card-content>
                <div class="contact-info">
                  <div class="contact-item">
                    <div class="contact-icon location"></div>
                    <div class="contact-details">
                      <h4>Location</h4>
                      <p>Kuwait</p>
                    </div>
                  </div>
                  <div class="contact-item">
                    <div class="contact-icon phone"></div>
                    <div class="contact-details">
                      <h4>Phone</h4>
                      <p>+965 9668 6771</p>
                    </div>
                  </div>
                  <div class="contact-item">
                    <div class="contact-icon email"></div>
                    <div class="contact-details">
                      <h4>Email</h4>
                      <p>haseebzahid908&#64;gmail.com</p>
                    </div>
                  </div>
                </div>
                
                <div class="contact-cta" >
                  <p class="cta-text">Ready to transform your space with premium upholstery?</p>
                  <a  href="https://wa.me/+96596686771" target="_blank" rel="noopener noreferrer" aria-label="Chat on WhatsApp" class="cta-button">
                    Contact Us Today
                  </a>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>