.image-container {
  height: 250px; /* Fixed height for all images */
  overflow: hidden; /* Hide any image overflow */
}

.uniform-image {
  width: 100%;
  height: 100%;
  // object-fit: cover; /* This will crop images to fit */
  object-position: center; /* Center the image in the container */
  
}/* Add to your global styles */
body {
  overflow-x: hidden;
}

.services-page-container {
  width: 100%;
  overflow: hidden;
}

/* Fix hero container  also written in blog*/
.hero-image-container-services {
  overflow-x: hidden;
  position: relative; 
  width: 100%;
  height: 650px;
  background-image: url('/assets/images/blog/eeee.jpg');
  background-size: cover;
  background-position: center;
}
 

/* Ensure cards have consistent height */
.card-hover {
  transition: transform 0.3s ease;
  height: 97%;
  display: flex;
  flex-direction: column;
}

.card-hover:hover {
  transform: translateY(-5px);
}

.image-container {
  height: 200px; /* Fixed height for images */
  overflow: hidden;
}

.uniform-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}