@if(service()) {
<mat-card class="cardWithShadow"  >
  <div class="image-container">
    <img mat-card-image [src]="service().imgSrc" [alt]="service().title" class="responsive-image" />
    <div class="floating-card">
      <div class="floating-card-content">
        <h1 class="service-title-dis text-primary">{{ service().title }}</h1>
        <h4 class="service-paragraphheader ">
          {{ service().description }}
        </h4>
        <button class="margi" mat-flat-button style="margin-top: 20px" st (click)="goToContact()">
          {{ service().btndiscription }}
        </button>
      </div>
    </div>
  </div>
  
  <div class="row  gx-5 margins" >
    <!-- Overview Column -->
    <div class="col-md-6 mobilemarg">
      <h1 class="service-main-title" style="padding-left: 15px;">
        <!-- here substring is used to changing color of each character like below i do that till 25 word what will be color
         so i used for now use this color in both(class="text-primary") span as hassan tell me to keep same colors so if
          i wana seee result of substring than i should remove one (class="text-primary") from span -->
        <span class="text-primary">{{ service().content?.title?.substring(0, 25) }}</span>
        <span class="text-primary">{{
          service().content?.title?.substring(25)
          }}</span>
      </h1>
      <div class="overview-paragraphs" style="padding-left: 15px;">
        <p class="m-t-16">{{ service().content?.paragraphs[0] }}</p>
        <p class="m-t-16">{{ service().content?.paragraphs[1] }}</p>

        <!-- Add this section for the bullet points -->
        <div *ngIf="service().content?.heading" class="m-t-16">
          <h2 class="f-s-16">{{ service().content?.headingpoint }}</h2>
          <ul class="f-s-14 m-t-16" style="list-style-type: none; padding-left: 0">
            <li *ngFor="let item of service().content?.datapoint" class="m-b-8">
              <strong>{{ item.split(":")[0] }}:</strong>
              {{ item.split(":")[1] }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Image Column -->
    <div class="col-md-6 d-flex justify-content-center">
      <img [src]="service().imgoverview" alt="Service overview" class="img-fluid welcome-img"
         />
    </div>
  </div>

  @if(service()) {

      <div class="row  gx-5 margins ">
        <!-- Left Column - Text Content -->
        <div class="col-md-6 mobilemarg" >
          <h1 class="service-main-title" style="padding-left: 15px;">
            <span class="text-primary">{{
              service().content?.heading?.substring(0, 27)
              }}</span>
            <span class="text-primary">{{ service().content?.heading?.substring(27) }}</span>
          </h1>

          @for (data of service().content?.data; track $index) {
          <p class="service-paragraph" [class.cta-paragraph]="
              $index === service().content?.data.length - 1
            "  style="padding-left: 15px;">
            {{ data }}
          </p>
          }

          <div style="padding-left: 15px;"
            class="d-flex flex-sm-row flex-col align-items-start justify-content-start gap-8 flex-wrap consulationbtn">
            <button mat-flat-button  (click)="openContactUsdia()" >Book a Consultation</button>
          </div>
        </div>

        <!-- Right Column - Services List -->
        <div class="col-md-6">
          <div class="services-container">
            <div class="services-scrollable">
              @for (item of service().content?.services; track $index) {
              <div class="service-item">
                <div class="service-icon text-primary">
                  <mat-icon>{{ item.icon }}</mat-icon>
                </div>
                <div class="service-details">
                  <h3 class="service-title">{{ item.title }}</h3>
                  <p class="service-description">{{ item.description }}</p>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>

      <!-- SDLC Images Section -->
<div *ngIf="service().content?.sdlcImages" class="sdlc-images-section">
  <div class="sdlc-image-container">
    <img [src]="isMobile ? service().content?.sdlcImages.mobile : service().content?.sdlcImages.desktop1"
         alt="SDLC Process 1" class="sdlc-image" />
  </div>

  <div *ngIf="!isMobile" class="sdlc-image-container">
    <img [src]="service().content?.sdlcImages.desktop2"  class="sdlc-image" />
  </div>
</div>

 
  }
</mat-card>
}