<footer
  class="footer-container footer-social values-section mat-elevation-z8"
  [class.rtl-footer]="isRTL"
>
  <div class="footer-content">
    <div class="footer-grid">
      <!-- Company Info -->
      <div class="footer-section company-info">
        <!-- Branding - Hidden on mobile -->
        <div class="d-flex branding align-items-center">
          <app-branding></app-branding>
        </div>

        <p class="address">
          {{ "FOOTER.ADDRESS.LINE1" | translate }}<br />
          {{ "FOOTER.ADDRESS.LINE2" | translate }}
        </p>
        <p class="phone">{{ "FOOTER.PHONE1" | translate }}</p>
        <p class="phone">{{ "FOOTER.PHONE2" | translate }}</p>
        <!-- Social Icons -->
        <div class="footer-social">
          <a href="https://www.linkedin.com/company/dryrun1/" target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://x.com/Dry_Run1"
            ><i-tabler name="brand-x" class="icon-20"></i-tabler>
          </a>

          <a
            href="https://www.instagram.com/dry_run1?igsh=M3JjNXEwdjEycmpr"
            target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="https://www.facebook.com/share/15oFTGrnSo/" target="_blank"
            ><i class="fab fa-facebook-f"></i
          ></a>
        </div>
      </div>


      <!-- Company -->
      <div class="footer-section company hide-on-mobile">
        <h3>{{ "FOOTER.COMPANY.TITLE" | translate }}</h3>
        <ul>
          <li [routerLink]="['/apps/geographies']">
            {{ "FOOTER.COMPANY.GEOGRAPHIES" | translate }}
          </li>
          <li [routerLink]="['/apps/aboutus']">
            {{ "FOOTER.COMPANY.ABOUT_US" | translate }}
          </li>
          <li [routerLink]="['/apps/gallery']">
            {{ "FOOTER.COMPANY.GALLERY" | translate }}
          </li>
           <li [routerLink]="['/apps/contactus']">
            {{ "ABOUT.CONTACT_US" | translate }}
          </li>
        </ul>
      </div>

      <!-- Location -->
      <div class="footer-section location hide-on-mobile">
        <h3>{{ "FOOTER.LOCATION.TITLE" | translate }}</h3>
        <ul>
          <li>{{ "FOOTER.LOCATION.KUWAIT" | translate }}</li>
        </ul>
      </div>
    </div>

    <!-- Copyright -->
    <div class="copyright">
      <p>{{ "FOOTER.COPYRIGHT" | translate }}</p>
    </div>
  </div>
</footer>