html.deep_purple_theme {
  --mat-sys-primary: rgb(142, 33, 87);        /* #8e2157 as RGB */
  --mat-sys-primary-fixed-dim: rgb(93, 135, 255, 0.15);
  --mat-sys-secondary: rgb(142, 33, 87);
  --mat-sys-secondary-fixed-dim: rgb(244, 139, 108, 0.15);
  --mat-sys-tertiary: rgb(142, 33, 87);
}

